.App {
  background-color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 720px;
  margin: 32px 0;
}

.image-container img:last-child {
  margin-left: 20px;
}

.status-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 1280px;
}

.status-container img {
  flex-grow: 1;
}

.received-message {
  color: green;
  font-weight: bold;
  font-size: xx-large;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 32px;
}

button {
  background-color: #555;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  margin: 0 16px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

button:active {
  background-color: #777;
}