.App {
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.analyse {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}
.image-container img:last-child {
  margin-left: 20px;
}

.status-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 1280px;
}

.status-container img {
  flex-grow: 1;
}

.received-message {
  color: green;
  font-weight: bold;
  font-size: xx-large;
  margin-left: 30px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-bottom: 32px; */
}

button {
  background-color: #555;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  margin: 0 16px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

button:active {
  background-color: #777;
}

.preset-button-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.preset-button-container button {
  margin-bottom: 8px;
}

.preset-class {
  color: white;
  font-size: xx-large;
}

.image-received-container {
  display: flex;
  margin: 30px;
} 

.feedback-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.feedback-container h1 {
  font-size: 50px;
  /* margin-top: 20px; */
  color: #eee;
}

.feedback-container .bigger {
  font-size: 60px;
  font-style: italic;
}

.feedback-container h2 {
  font-size: 40px;
  margin: 10px 0;
  color: #eee;
}
h1::first-letter {
  text-transform:capitalize;
}

.plus{
  color: red;
}


.slider-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-text {
  font-size: px;
  color: #eee;
}

